@import 'sticky_footer.css';
@import 'carousel_fade.css';
@import 'cover.css';

@font-face {
    font-family: "BulgMod";
    src: url("../fonts/BulgariaModerna.otf");
}
@font-face {
    font-family: "ColabR";
    src: url("../fonts/ColabReg.otf");
}
@font-face {
    font-family: "ColabL";
    src: url("../fonts/ColabLig.otf");
}
@font-face {
    font-family: "ColabT";
    src: url("../fonts/ColabThi.otf");
}
@font-face {
    font-family: "Krem";
    src: url("../fonts/KremlinStarets.ttf");
}
@font-face {
	font-family: "BebasNeue";
	src: url("../fonts/BebasNeue Bold.ttf");
}
@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/museo_sans.ttf");
}
@font-face {
    font-family: "MuseoSlab"
    src: url("../fonts/museo_slab.ttf");
}
@font-face {
    font-family: "OpenSansL";
    src: url("../fonts/OpenSans-Light.ttf");
}

#topTitle {
    font-family: "BulgMod";
    font-size: 30pt;
}

#myNav {
    background-color: #303030;
    height: 75px;
}

#top {
    font-family: "BebasNeue";
    font-size: 30pt;
    letter-spacing: 2px;
}

#logo {
    height: 80px;
    width: 80px;
}

#myTabs {
    font-family: "OpenSansL";
    font-size: 25pt;
    margin-right: 2%;
}

#maintext {
    margin-top: 15%;
    font-family: "OpenSansL";
}

#myCarousel {
    display: block;
    margin: auto;
    height: 272px;
    width: 275px;
    overflow: hidden;
    border: 2px solid white;
}

.masthead {
    background: #333333;
    height: 80px;
}

.footer {
    background-color: #303030;
    font-family: "OpenSansL";
}
